.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #02836a, #01241d);
    color: black;
    margin: 0;
}

.text {
    color: black;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.gradientText {
    font-size: 4.0rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #002921, #01a584);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.textBackground {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    position: relative; /* Add position relative to allow absolute positioning of Save button */
}

.formContainer {
    width: 100%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
}

.nameContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
}


.inputWrapper label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: black;
}
.preferencesContainer {
    display: flex;
    flex-wrap: wrap; /* Allow the elements to wrap to the next line */
    gap: 1rem;
    width: 100%;
}

.inputWrapper input, 
.inputWrapper select  {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    color: black;
    width: 100%; 
    box-sizing: border-box; 
}
.inputWrapper select {
    -webkit-appearance: none; /* Removes default styling for select in some browsers */
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px; /*space for dropdown arrow */
  }
  

.button {
    background-color: #02836a;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ffc400;
}

/* Horizontal line with text */
.horizontalLineWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.horizontalLineWrapper hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000;
}

.horizontalLineWrapper span {
    margin: 0 1rem;
    font-weight: bold;
    color: black;
}
.nameContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.nameContainer input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #000000; /* Visible border */
    border-radius: 5px;
    color: black;
    width: 100%;
    box-sizing: border-box; /* Ensures padding and border don't affect the width */
    outline: none; /* Remove default outline */
}
.saveButton {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    background-color: #02836a;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
